@model NewsAdManagementSystem_Entity.Models.EmployDetails

    <div>
        <a class="btn btn-primary" asp-action="ShowEmployDetails">Show Employ Details</a>
    </div>
    <form method="post">
        <h2>Delete Employee Details</h2>
        <div>
            <label for="Empname">Employee Id</label>
            <input type="text" class="form-control" asp-for="EmpID" disabled="disabled" />
        </div>
        <div>
            <label for="Empname">Full Name</label>
            <input type="text" class="form-control" asp-for="EmpName" disabled="disabled" />
        </div>
        <div>
            <label for="EmpContactNo">Mobile Number</label>
            <input type="text" class="form-control" asp-for="EmpContactNo" disabled="disabled" />
        </div>
        <div>
            <label for="EmailID">Email ID</label>
            <input type="text" class="form-control" asp-for="EmailID" disabled="disabled" />
        </div>
        <div>
            <label for="Country">Country</label>
            <input type="text" class="form-control" asp-for="Country" disabled="disabled" />
        </div>
        <div>
            <label for="State">State</label>
            <input type="text" class="form-control" asp-for="State" disabled="disabled" />
        </div>
        <div>
            <label for="City">City</label>
            <input type="text" class="form-control" asp-for="City" disabled="disabled" />
        </div>
        <div>
            <label for="Pwd">Set Password</label>
            <input type="text" class="form-control" asp-for="Pwd" disabled="disabled" />
        </div>

        <div>
            <label for="Role">Role</label>
            <input type="text" class="form-control" asp-for="Role" disabled="disabled" />
        </div>



        <input type="submit" value="Delete" class="btn btn-danger" />
        <hr />
        @if (ViewBag.status == "Ok")
        {
            <div class="alert alert-success">
                @ViewBag.message
            </div>
        }
        else if (ViewBag.status == "Error")
        {
            <div class="alert alert-danger">
                @ViewBag.message
            </div>
        }


    </form>
