@model NewsAdManagementSystem_Entity.Models.EmployDetails
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form method="post">
    <h2>Employee Registration</h2>
    <div class="form-group">
        <label for="EmpName">Full Name </label>
        <input type="text" class="form-control" asp-for="EmpName" placeholder="enter name" required />
    </div>
    <div class="form-group">
        <label for="EmpContactNo">Mobile Number </label>
        <input type="text" class="form-control" asp-for="EmpContactNo" placeholder="enter mobile number" required />
    </div>
    <div class="form-group">
        <label for="EmailID">Email ID </label>
        <input type="text" class="form-control" asp-for="EmailID" placeholder="enter email" required />
    </div>

    <div class="form-group">
        <label>Country </label>
        <input type="text" class="form-control" asp-for="Country" placeholder="enter country" required />
    </div>

    <div class="form-group">
        <label>State </label>
        <input type="text" class="form-control" asp-for="State" placeholder="enter state" required />
    </div>
    <div class="form-group">
        <label>City </label>
        <input type="text" class="form-control" asp-for="City" placeholder="enter city" required />
    </div>

    
    <div class="form-group">
        <label>Set Password </label>
        <input type="text" class="form-control" asp-for="Pwd" placeholder="enter password" required />
    </div>
    <div class="form-group">
        <label>Role</label>
        <input type="text" class="form-control" asp-for="Role" placeholder="enter role" required />
    </div>
   

    <input type="submit" value="Register" class="btn btn-primary" />
    <input type="reset" value="Reset" class="btn btn-secondary" />
    <hr />

    @if (ViewBag.status == "Ok")
    {
        <div class="alert alert-success">
            @ViewBag.message
        </div>
    }
    else
       if (ViewBag.status == "Error")
    {
        <div class="alert alert-danger">
            @ViewBag.message
        </div>
    }

</form>