@model NewsAdManagementSystem_Entity.Models.EmployDetails
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form method="post">
    <h2>Employee Registration</h2>
    <div>
        <label for="Empname">Full Name</label>
        <input type="text" class="form-control" asp-for="EmpName" placeholder="Enter your name" required />
    </div>
    <div>
        <label for="EmpContactNo">Mobile Number</label>
        <input type="text" class="form-control" asp-for="EmpContactNo" placeholder="Enter mobile number" required />
    </div>
    <div>
        <label for="EmailID">Email ID</label>
        <input type="text" class="form-control" asp-for="EmailID" placeholder="Enter your email id" required />
    </div>
    <div>
        <label for="Country">Country</label>
        <input type="text" class="form-control" asp-for="Country" placeholder="Enter your country" required />
    </div>
    <div>
        <label for="State">State</label>
        <input type="text" class="form-control" asp-for="State" placeholder="Enter your state" required />
    </div>
    <div>
        <label for="City">City</label>
        <input type="text" class="form-control" asp-for="City" placeholder="Enter your city" required />
    </div>
    <div>
        <label for="Pwd">Set Password</label>
        <input type="text" class="form-control" asp-for="Pwd" placeholder="Set your password" required />
    </div>

    <input type="submit" value="Register" class="btn btn-primary" />
    <input type="reset" value="Reset" class="btn btn-secondary" />
    <hr />

    @if (ViewBag.status == "Ok")
    {
        <div class="alert alert-success">
            @ViewBag.message
        </div>
    }
    else
    if (ViewBag.status == "Error")
    {
        <div class="alert alert-danger">
            @ViewBag.message
        </div>
    }

</form>